Podfile.lock
ChangyanSDK_iOS_2.2.9/ChangyanDemo/ChangyanDemo.xcworkspace
ChangyanSDK_iOS_2_2_9/ChangyanDemo/ChangyanDemo.xcodeproj/project.xcworkspace/xcuserdata/changyan-dev.xcuserdatad/UserInterfaceState.xcuserstate
ChangyanSDK_iOS_2_2_9/ChangyanDemo/ChangyanDemo.xcodeproj/project.xcworkspace/xcuserdata/f7.xcuserdatad/UserInterfaceState.xcuserstate
ChangyanSDK_iOS_2_2_9/ChangyanDemo/ChangyanDemo.xcworkspace/xcuserdata/f7.xcuserdatad/UserInterfaceState.xcuserstate
